<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="foo" class="com.example.beans.Foo"/>

    <bean id="car" class="com.example.beans.Bar">
        <constructor-arg ref="foo"/>
    </bean>
    
</beans>